#buttons_div1, #buttons_div2 {
    font-size: 1.2em;
    width: 300px;
    margin: 15px;
}

input, .cmd, #limits, #home_btn {
    margin: 15px;
    padding: 5px;
    width: 250px;
}

p {
    width: 250px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 0px;
}

.filter{
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

#filter_btn{
    margin-left: 15px;
    margin-right: 25px;
}

#reset_btn{
    margin-left: 20px;
    margin-right: 15px;
}

button{
    font-size: 1.2em;
    background-color: white;
    border-color: teal;
    position: center;
}

canvas{
    position: absolute;
    left: 320px;
    width: 1200px;
    height: 500px;
    margin: 10px;
}

#fst_chart{
    top: 0px;
}

#snd_chart{
    top: 600px;
}

table {
    position: absolute;
    margin: 10px;
    top: 0px;
    left: 320px;
    width: 1200px;
    border: 1px solid black;
}

#room_th, #avg_th{
    width: 100px;
}

#time_th{
    text-align: left;
}

td {
    padding: 10px;
}
